.form
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
}

.submit
{
    align-self: center;
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
}

.form-container
{
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.form-container h1
{
    align-self: center;
}