.navbar {
    background-color: var(--primary);
    font-family: var(--font);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav_menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px;
}

.nav_link {
    margin: 20px;
    color: var(--font_color1);
    text-decoration: none;
    font-size: 1em;
    transition: 0.3s;
    
}

.nav_link:hover{
    color: var(--secondary);
}
.nav_toggler {
    color: var(--font_color1);
    font-size: 1.7em;
    height: 100%;
    display: none;
    justify-content: center;
    margin: 20px;
    cursor: pointer;
}

.loggout-btn
{
    background-color: transparent;
    padding: 10px 15px;
    float: right;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    transition: 0.3s;
    margin-left: auto;
}
.loggout-btn:hover
{
    background-color: rgba(95, 94, 94, 0.3);
}
@media screen and (max-width: 768px) {
    .nav_toggler {
        display: flex;
    }

    .nav_menu {
        display: none;
        position: absolute;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        background-color: var(--primary);
        top: 60px;
        right: 10px;
        margin: 0;
        padding: 20px;
        border-radius: 5px;
        width: 25%;
        height: 180px;

    }
   
    .active {
        display: flex;
    }

    .open {
        -webkit-animation: scale-up 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: scale-up 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    .close {
        -webkit-animation: scale-down 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: scale-down 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    .loggout-btn
    {
        position: static;
        margin-top: 20px;
        margin-left: 0;
    }
    @-webkit-keyframes scale-up {
        0% {
            -webkit-transform: scale(0);
            transform: scale(0);
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    @keyframes scale-up {
        0% {
            -webkit-transform: scale(0);
            transform: scale(0);
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    @-webkit-keyframes scale-down {
        0% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        100% {
            -webkit-transform: scale(0);
            transform: scale(0);
        }
    }

    @keyframes scale-down {
        0% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        100% {
            -webkit-transform: scale(0);
            transform: scale(0);
        }
    }



}
